# AWS
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=057654277301

# Base de données RDS
DATABASE_URL=postgresql://warden:password@your-rds-endpoint.eu-west-1.rds.amazonaws.com:5432/warden

# DynamoDB
DYNAMO_TABLE=warden-audit-log

# Secrets Manager
SECRETS_NAME=warden/prod/keys

# Cognito
COGNITO_USER_POOL_ID=eu-west-1_xxxxxxxxx
COGNITO_APP_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx

# API (rempli après sam deploy)
API_URL=https://xxxxxxxxxx.execute-api.eu-west-1.amazonaws.com/prod

# Dashboard (Vite)
VITE_API_URL=https://xxxxxxxxxx.execute-api.eu-west-1.amazonaws.com/prod
VITE_COGNITO_POOL_ID=eu-west-1_xxxxxxxxx
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
